EH.Security.OpenAPIs.SDK/Web References/OrgService/OrganizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:Masterduner@Yeah.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:Masterduner@Yeah.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">组织机构对象服务</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:Masterduner@Yeah.net">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetRootOrganization">
        <s:complexType />
      </s:element>
      <s:element name="GetRootOrganizationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRootOrganizationResult" type="tns:Organization" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Organization">
        <s:complexContent mixed="false">
          <s:extension base="tns:OrganizationObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IsVirtual" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OrganizationObjectBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbHelper">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UniqueID" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OpenID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ParentID" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="Category" type="tns:OrganizationObjectCategory" />
              <s:element minOccurs="0" maxOccurs="1" name="VirtualName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VirtualPath" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LogicalRemovedState" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Visible" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbHelper" />
      <s:simpleType name="OrganizationObjectCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Organization" />
          <s:enumeration value="VirtualOrganization" />
          <s:enumeration value="Position" />
          <s:enumeration value="Staff" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateOrganization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Organization" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrganizationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSubOrganizations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="organizationOpenID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubOrganizationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubOrganizationsResult" type="tns:ArrayOfOrganizationObjectBase" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrganizationObjectBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrganizationObjectBase" nillable="true" type="tns:OrganizationObjectBase" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateOrganization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="org" type="tns:Organization" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrganizationResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreatePosition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Position" />
            <s:element minOccurs="1" maxOccurs="1" name="isPrincipal" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="force" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Position">
        <s:complexContent mixed="false">
          <s:extension base="tns:OrganizationObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="OrganizationID" type="s1:guid" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CreatePositionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreatePositionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPositionCollectionExcludeSpecified">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="thisPositionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPositionCollectionExcludeSpecifiedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPositionCollectionExcludeSpecifiedResult" type="tns:ArrayOfPosition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPosition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Position" nillable="true" type="tns:Position" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdatePosition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="position" type="tns:Position" />
            <s:element minOccurs="1" maxOccurs="1" name="updateState" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isPrincipal" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="superiorPositionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePositionResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="person" type="tns:Staff" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Staff">
        <s:complexContent mixed="false">
          <s:extension base="tns:OrganizationObjectBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FirstPositionID" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="Gender" type="tns:Gender" />
              <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="BirthPlace" type="tns:PlaceRegion" />
              <s:element minOccurs="0" maxOccurs="1" name="ResidentialAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserCredentialsType" type="tns:UserCredentialsType" />
              <s:element minOccurs="0" maxOccurs="1" name="UserCredentialsNO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FirstOrganizationID" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="OfficePhoneNO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MobilePhoneNO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EntryDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IsProbation" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ProbationLength" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AutoBecomeFullMember" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="Gender">
        <s:restriction base="s:string">
          <s:enumeration value="Man" />
          <s:enumeration value="Woman" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="PlaceRegion">
        <s:complexContent mixed="false">
          <s:extension base="tns:ParameterDeclaration">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ParentID" type="s1:guid" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ParameterDeclaration" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbHelper">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UniqueID" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OpenID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UserCredentialsType">
        <s:complexContent mixed="false">
          <s:extension base="tns:ParameterDeclaration" />
        </s:complexContent>
      </s:complexType>
      <s:element name="CreateStaffResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEnabledStaffs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="openID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnabledStaffsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEnabledStaffsResult" type="tns:ArrayOfStaff" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStaff">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Staff" nillable="true" type="tns:Staff" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRootOrganizationSoapIn">
    <wsdl:part name="parameters" element="tns:GetRootOrganization" />
  </wsdl:message>
  <wsdl:message name="GetRootOrganizationSoapOut">
    <wsdl:part name="parameters" element="tns:GetRootOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrganizationSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrganization" />
  </wsdl:message>
  <wsdl:message name="CreateOrganizationSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubOrganizationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubOrganizations" />
  </wsdl:message>
  <wsdl:message name="GetSubOrganizationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubOrganizationsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrganizationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrganization" />
  </wsdl:message>
  <wsdl:message name="UpdateOrganizationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePositionSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePosition" />
  </wsdl:message>
  <wsdl:message name="CreatePositionSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePositionResponse" />
  </wsdl:message>
  <wsdl:message name="GetPositionCollectionExcludeSpecifiedSoapIn">
    <wsdl:part name="parameters" element="tns:GetPositionCollectionExcludeSpecified" />
  </wsdl:message>
  <wsdl:message name="GetPositionCollectionExcludeSpecifiedSoapOut">
    <wsdl:part name="parameters" element="tns:GetPositionCollectionExcludeSpecifiedResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePositionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePosition" />
  </wsdl:message>
  <wsdl:message name="UpdatePositionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePositionResponse" />
  </wsdl:message>
  <wsdl:message name="CreateStaffSoapIn">
    <wsdl:part name="parameters" element="tns:CreateStaff" />
  </wsdl:message>
  <wsdl:message name="CreateStaffSoapOut">
    <wsdl:part name="parameters" element="tns:CreateStaffResponse" />
  </wsdl:message>
  <wsdl:message name="GetEnabledStaffsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEnabledStaffs" />
  </wsdl:message>
  <wsdl:message name="GetEnabledStaffsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEnabledStaffsResponse" />
  </wsdl:message>
  <wsdl:portType name="OrganizationServiceSoap">
    <wsdl:operation name="GetRootOrganization">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取根组织机构信息</wsdl:documentation>
      <wsdl:input message="tns:GetRootOrganizationSoapIn" />
      <wsdl:output message="tns:GetRootOrganizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建一个组织机构。&lt;br /&gt;obj：Organization对象实例。</wsdl:documentation>
      <wsdl:input message="tns:CreateOrganizationSoapIn" />
      <wsdl:output message="tns:CreateOrganizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubOrganizations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取子级组织机构对象集合&lt;br /&gt;organizationOpenID：指定组织机构对象的开放标识。</wsdl:documentation>
      <wsdl:input message="tns:GetSubOrganizationsSoapIn" />
      <wsdl:output message="tns:GetSubOrganizationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新组织机构信息&lt;br /&gt;org：组织机构信息</wsdl:documentation>
      <wsdl:input message="tns:UpdateOrganizationSoapIn" />
      <wsdl:output message="tns:UpdateOrganizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePosition">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建一个职位信息&lt;br /&gt;obj:职位对象实例&lt;br /&gt;isPrincipal:是否为负责人职位&lt;br /&gt;force:是否强行创建此职位</wsdl:documentation>
      <wsdl:input message="tns:CreatePositionSoapIn" />
      <wsdl:output message="tns:CreatePositionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPositionCollectionExcludeSpecified">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取除指定职位以外的所有职位信息&lt;br /&gt;thisPositionID:指定的职位标识</wsdl:documentation>
      <wsdl:input message="tns:GetPositionCollectionExcludeSpecifiedSoapIn" />
      <wsdl:output message="tns:GetPositionCollectionExcludeSpecifiedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePosition">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新职位信息。&lt;br /&gt;position:职位信息&lt;br /&gt;updateState:是否更新职位的附加信息&lt;br /&gt;isPrincipal:是否设置为负责人职位&lt;br /&gt;superiorPositionID:是否更新汇报关系的上级职位信息</wsdl:documentation>
      <wsdl:input message="tns:UpdatePositionSoapIn" />
      <wsdl:output message="tns:UpdatePositionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateStaff">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建人员信息&lt;br /&gt;staff:人员信息对象实例。</wsdl:documentation>
      <wsdl:input message="tns:CreateStaffSoapIn" />
      <wsdl:output message="tns:CreateStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEnabledStaffs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取所有启用的人员信息&lt;br /&gt;openID:职位开放标识</wsdl:documentation>
      <wsdl:input message="tns:GetEnabledStaffsSoapIn" />
      <wsdl:output message="tns:GetEnabledStaffsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrganizationServiceSoap" type="tns:OrganizationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRootOrganization">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/GetRootOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/CreateOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubOrganizations">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/GetSubOrganizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/UpdateOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePosition">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/CreatePosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionCollectionExcludeSpecified">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/GetPositionCollectionExcludeSpecified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePosition">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/UpdatePosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStaff">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/CreateStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnabledStaffs">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/GetEnabledStaffs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrganizationServiceSoap12" type="tns:OrganizationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRootOrganization">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/GetRootOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/CreateOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubOrganizations">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/GetSubOrganizations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/UpdateOrganization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePosition">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/CreatePosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionCollectionExcludeSpecified">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/GetPositionCollectionExcludeSpecified" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePosition">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/UpdatePosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStaff">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/CreateStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnabledStaffs">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/GetEnabledStaffs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganizationService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">组织机构对象服务</wsdl:documentation>
    <wsdl:port name="OrganizationServiceSoap" binding="tns:OrganizationServiceSoap">
      <soap:address location="http://localhost:1/OrganizationService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrganizationServiceSoap12" binding="tns:OrganizationServiceSoap12">
      <soap12:address location="http://localhost:1/OrganizationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>