EH.Security.OpenAPIs.SDK/Web References/IdentityService/IdentityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:Masterduner@Yeah.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:Masterduner@Yeah.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提供了获取身份信息的方法</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:Masterduner@Yeah.net">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAccountUseToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountUseTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountUseTokenResult" type="tns:ClientAccountStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientAccountStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountOID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountUseTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountUseToken" />
  </wsdl:message>
  <wsdl:message name="GetAccountUseTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountUseTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="IdentityServiceSoap">
    <wsdl:operation name="GetAccountUseToken">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">使用身份令牌获取账户信息。</wsdl:documentation>
      <wsdl:input message="tns:GetAccountUseTokenSoapIn" />
      <wsdl:output message="tns:GetAccountUseTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IdentityServiceSoap" type="tns:IdentityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountUseToken">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/GetAccountUseToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IdentityServiceSoap12" type="tns:IdentityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountUseToken">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/GetAccountUseToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IdentityService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提供了获取身份信息的方法</wsdl:documentation>
    <wsdl:port name="IdentityServiceSoap" binding="tns:IdentityServiceSoap">
      <soap:address location="http://localhost:1/IdentityService.asmx" />
    </wsdl:port>
    <wsdl:port name="IdentityServiceSoap12" binding="tns:IdentityServiceSoap12">
      <soap12:address location="http://localhost:1/IdentityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>