EH.Security.OpenAPIs.SDK/Web References/BehaviorService/UserBehaviorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:Masterduner@Yeah.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:Masterduner@Yeah.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:Masterduner@Yeah.net">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="TraceInOutBehavior">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="methodName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mark" type="tns:InOut" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="InOut">
        <s:restriction base="s:string">
          <s:enumeration value="In" />
          <s:enumeration value="Out" />
        </s:restriction>
      </s:simpleType>
      <s:element name="TraceInOutBehaviorResponse">
        <s:complexType />
      </s:element>
      <s:element name="TraceOperateBehavior">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="methodName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraceOperateBehaviorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraceInOutBehaviorSoapIn">
    <wsdl:part name="parameters" element="tns:TraceInOutBehavior" />
  </wsdl:message>
  <wsdl:message name="TraceInOutBehaviorSoapOut">
    <wsdl:part name="parameters" element="tns:TraceInOutBehaviorResponse" />
  </wsdl:message>
  <wsdl:message name="TraceOperateBehaviorSoapIn">
    <wsdl:part name="parameters" element="tns:TraceOperateBehavior" />
  </wsdl:message>
  <wsdl:message name="TraceOperateBehaviorSoapOut">
    <wsdl:part name="parameters" element="tns:TraceOperateBehaviorResponse" />
  </wsdl:message>
  <wsdl:portType name="UserBehaviorServiceSoap">
    <wsdl:operation name="TraceInOutBehavior">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">methodName:方法名称。&lt;br /&gt;typeName:类型的完全限定名称。&lt;br /&gt;version:版本号。&lt;br /&gt;mark:InOut值。&lt;br /&gt;userName:当前登录的用户名。</wsdl:documentation>
      <wsdl:input message="tns:TraceInOutBehaviorSoapIn" />
      <wsdl:output message="tns:TraceInOutBehaviorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraceOperateBehavior">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">methodName:方法名称。&lt;br /&gt;typeName:类型的完全限定名称。&lt;br /&gt;version:版本号。&lt;br /&gt;mark:InOut值。&lt;br /&gt;userID:当前用户的唯一标识。</wsdl:documentation>
      <wsdl:input message="tns:TraceOperateBehaviorSoapIn" />
      <wsdl:output message="tns:TraceOperateBehaviorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserBehaviorServiceSoap" type="tns:UserBehaviorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraceInOutBehavior">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/TraceInOutBehavior" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraceOperateBehavior">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/TraceOperateBehavior" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserBehaviorServiceSoap12" type="tns:UserBehaviorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraceInOutBehavior">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/TraceInOutBehavior" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraceOperateBehavior">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/TraceOperateBehavior" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserBehaviorService">
    <wsdl:port name="UserBehaviorServiceSoap" binding="tns:UserBehaviorServiceSoap">
      <soap:address location="http://localhost:1/UserBehaviorService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserBehaviorServiceSoap12" binding="tns:UserBehaviorServiceSoap12">
      <soap12:address location="http://localhost:1/UserBehaviorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>