EH.Security.OpenAPIs.SDK/Web References/ComService/CommonsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:Masterduner@Yeah.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:Masterduner@Yeah.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:Masterduner@Yeah.net">
      <s:element name="Remove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="openID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RemoveSoapIn">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:portType name="CommonsServiceSoap">
    <wsdl:operation name="Remove">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">逻辑移除指定开放标识的对象&lt;br /&gt;openID:开放的标识</wsdl:documentation>
      <wsdl:input message="tns:RemoveSoapIn" />
      <wsdl:output message="tns:RemoveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonsServiceSoap" type="tns:CommonsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Remove">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonsServiceSoap12" type="tns:CommonsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/Remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonsService">
    <wsdl:port name="CommonsServiceSoap" binding="tns:CommonsServiceSoap">
      <soap:address location="http://localhost:1/CommonsService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonsServiceSoap12" binding="tns:CommonsServiceSoap12">
      <soap12:address location="http://localhost:1/CommonsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>