EH.Security.OpenAPIs.SDK/Web References/AuthenticationService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:Masterduner@Yeah.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:Masterduner@Yeah.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:Masterduner@Yeah.net">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="WindowsAuthentication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WindowsAuthenticationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WindowsAuthenticationResult" type="tns:WinNTAuthenticateStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WinNTAuthenticateStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateStaffAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:AccountExpandoProperty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountExpandoProperty">
        <s:complexContent mixed="false">
          <s:extension base="tns:AccountBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationPolicyLength" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Policy" type="tns:ExpirationPolicy" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLocked" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AccountBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbHelper">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StaffID" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="StaffOpenID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UniqueID" type="s1:guid" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbHelper" />
      <s:simpleType name="ExpirationPolicy">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="MonthPolicy" />
          <s:enumeration value="DayPolicy" />
          <s:enumeration value="WeekPolicy" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateStaffAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateStaffAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WindowsAuthenticationSoapIn">
    <wsdl:part name="parameters" element="tns:WindowsAuthentication" />
  </wsdl:message>
  <wsdl:message name="WindowsAuthenticationSoapOut">
    <wsdl:part name="parameters" element="tns:WindowsAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="CreateStaffAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateStaffAccount" />
  </wsdl:message>
  <wsdl:message name="CreateStaffAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateStaffAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationServiceSoap">
    <wsdl:operation name="ExecuteWinNTAuthenticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">userName:登录到Windows的当前用户名。&lt;br /&gt;ipAddress:当前主机的IP地址。&lt;br /&gt;hostName:当前主机在网络中的名称。</wsdl:documentation>
      <wsdl:input name="WindowsAuthentication" message="tns:WindowsAuthenticationSoapIn" />
      <wsdl:output name="WindowsAuthentication" message="tns:WindowsAuthenticationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateStaffAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">创建一个人员账户&lt;br /&gt;account:人员账户扩展信息</wsdl:documentation>
      <wsdl:input message="tns:CreateStaffAccountSoapIn" />
      <wsdl:output message="tns:CreateStaffAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationServiceSoap" type="tns:AuthenticationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteWinNTAuthenticate">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/WindowsAuthentication" style="document" />
      <wsdl:input name="WindowsAuthentication">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="WindowsAuthentication">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStaffAccount">
      <soap:operation soapAction="urn:Masterduner@Yeah.net/CreateStaffAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationServiceSoap12" type="tns:AuthenticationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteWinNTAuthenticate">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/WindowsAuthentication" style="document" />
      <wsdl:input name="WindowsAuthentication">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="WindowsAuthentication">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStaffAccount">
      <soap12:operation soapAction="urn:Masterduner@Yeah.net/CreateStaffAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="AuthenticationServiceSoap" binding="tns:AuthenticationServiceSoap">
      <soap:address location="http://localhost:1/AuthenticationService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationServiceSoap12" binding="tns:AuthenticationServiceSoap12">
      <soap12:address location="http://localhost:1/AuthenticationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>