EH.Security.OpenAPIs.SDK/Configuration/ApiServiceConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Masterduner@Yeah.net" elementFormDefault="qualified" targetNamespace="urn:Masterduner@Yeah.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="enterpriseServices.openApi" type="tns:EnterpriseServices.SecurityService.API.Configuration.ApiServiceReferenceUrlSectionCT" />
	<xs:complexType name="EnterpriseServices.SecurityService.API.Configuration.ServiceReferenceUrlConfigureElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取服务名称。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取服务地址。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EnterpriseServices.SecurityService.API.Configuration.ServiceReferenceUrlConfigureElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:EnterpriseServices.SecurityService.API.Configuration.ServiceReferenceUrlConfigureElementCT">
				<xs:annotation>
					<xs:documentation>服务引用配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnterpriseServices.SecurityService.API.Configuration.ApiServiceReferenceUrlSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:EnterpriseServices.SecurityService.API.Configuration.ServiceReferenceUrlConfigureElementCT">
				<xs:annotation>
					<xs:documentation>服务引用配置。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="baseUrl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>设置或获取服务基地址。</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
